body {
    margin: 0;
    padding: 0;
    /* font-family: 'Roboto', sans-serif; */
    background: #d7cfbd;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: black;
    border: 0.5px solid;
}

.btn:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

a {
    text-decoration: none;
    color: black;
}

.h1 {
    display: flex;
    justify-content: center;
    font-weight: 100;
    font-size: 65px;
    font-style: italic;
    padding: 20px;
    font-family: 'Dancing Script', cursive;
}


/* ----------------------------Header-------------------------------- */

.header {
    background-image: url("./Images/Wizkid_PC.jpg");
    background-size: cover;
    background-position: left;
    width: 100%;
    height: 100vh;
    display: flex;
    /* flex-flow: column; */
    align-items: center;
    justify-content: flex-end;
    border-bottom: 5px solid #9da49d;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

aside {
    margin-right: 200px;
}

.wiz-logo,
.mil-logo,
.header-link,
.youtube-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wiz-logo img {
    height: auto;
    width: 280px;
    margin-bottom: -35px;
}

.mil-logo img {
    width: 500px;
    height: auto;
    margin-top: 0;
}

.header-link {
    column-gap: 20px;
    width: 500px;
}

.header-link a {
    width: 168px;
    height: 26px;
    font-size: 20px;
}


/* ------------------------------Music Section------------------------ */

.music-image {
    width: 250px;
    height: 250px;
}

.available-music {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20PX;
}

.music-btn {
    width: 80px;
    height: 20px;
}

.music-info {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.music-text {
    margin-block-start: 0;
    margin-block-end: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


/* ---------------------------Videos-------------------------------- */

.videos {
    display: flex;
}

iframe {
    width: 50%;
    height: 370px;
}

.youtube {
    width: 200px;
    height: 20px;
    margin-top: 15px;
}


/* ------------------------Footer--------------------------- */

.footer-header {
    font-family: 'Sacramento', cursive;
    color: black;
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 30px;
    font-weight: 700;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.favicon {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.favicon a img {
    width: 20px;
    height: 20px;
    color: #9da49d;
}