body {
    padding: 0;
    margin: 0;
    background-color: #dbd3c0;
    font-family: sans-serif;
    /* background-color: #fff; */
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
    font-family: "roboto", sans-serif;
    font-weight: 300;
    width: 160px;
    height: 22px;
    text-align: center;
    /* border: 1px solid black; */
}

button:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.h1 {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 100px;
    font-style: italic;
    font-family: "Backlash Script W05 Regular", sans-serif;
    padding: 0;
}

button {
    border: 1px solid black;
    background-color: transparent;
}

.hover:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.btn {
    font-size: 17px;
}


/* -----------------Landing Page-------------------------------------- */

.header {
    width: 100%;
    height: 99.3vh;
    background-image: linear-gradient( #ddd5c200, #ddd5c200, #ddd5c2), url("./Images/Wizkid_PC.jpg");
    background-size: cover;
    background-position: bottom center;
    border-bottom: 5px #9da49d solid;
}

#wiz-logo {
    width: 270px;
    height: 120px;
}

#mil-logo {
    width: 470px;
    height: 142px;
    margin-top: -20px;
}

.header-container {
    width: 83%;
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.logo-wrapper {
    text-align: center;
}

.content-wrapper {
    flex-direction: column;
}

.btn-wrapper {
    column-gap: 10px;
    width: 100%;
}

button {
    border: 1px solid black;
    background-color: transparent;
}

@media screen and (max-width: 701px) {
    .header {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient( #ddd5c200, #ddd5c200, #ddd5c2), url("./Images/Wizkid_Mobile.jpg");
        background-size: cover;
        background-position: top center;
        border-bottom: 5px #9da49d solid;
        padding-left: 0;
        padding-top: 60px;
        padding-bottom: 20px;
    }
    .header-container {
        width: 100%;
        align-items: center;
    }
    .logo-wrapper {
        height: 100vh;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }
    #mil-logo {
        margin-bottom: 10px;
        padding: 0 20px 0 20px;
        width: 90%;
        height: auto;
    }
    #wiz-logo {
        height: auto;
        width: 50%;
    }
}


/* ----------------------Music Section----------------------- */

.music {
    width: 100%;
    height: auto;
    padding-top: 20px;
    background-image: linear-gradient(#dbd3c0, #d3ccba, #c9c3b3, #c9c3b3);
}

.music-image {
    width: 250px;
    height: 250px;
}

.available-music {
    column-gap: 20PX;
}

.music-btn {
    width: 80px;
    height: 20px;
    margin-block-start: 0.5em;
}

.music-info {
    width: inherit;
    height: inherit;
    flex-direction: column;
}

.music-text {
    margin-block-start: 0;
    margin-block-end: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@media screen and (max-width: 790px) {
    .available-music {
        flex-direction: column;
        padding: 20px 10px 20px 10px;
    }
    .music-image {
        /* width: 350px;
        height: 350px; */
        width: 100%;
        height: auto;
    }
    .music-info {
        width: 100%;
    }
    #joro {
        margin-top: 20px;
        width: 100%;
        height: auto;
    }
    #sfos {
        margin-top: 20px;
        width: 100%;
        height: auto;
    }
    #mil {
        width: 100%;
        height: auto;
    }
}


/* --------------------Video Section--------------------------- */

.video-section {
    width: calc(100%-20px);
    height: auto;
    background-color: #b7b3a6;
    padding: 0 10px 0 10px;
}

.video-header {
    padding-top: 20px;
    background: #c7c1b2;
}

iframe {
    width: 50%;
    height: 370px;
}

.youtube-text {
    text-align: center;
    margin-top: 15px;
}

@media screen and (max-width: 790px) {
    .videos {
        flex-direction: column;
    }
    iframe {
        width: 100%;
        height: 250px;
    }
}


/* ------------------------Footer--------------------------- */

.footer-wrapper {
    background: #b7b3a6;
}

.footer-content {
    margin-top: 15px;
}

.footer-header {
    font-family: "Backlash Script W05 Regular", sans-serif;
    color: black;
    font-size: 100px;
    padding-top: 60px;
    padding-bottom: 30px;
    font-weight: 100;
    line-height: 50px;
    margin-block-end: 0;
    margin-block-start: 0;
}

.favicon {
    column-gap: 10px;
    width: 15px;
    height: 15px;
    color: #9da49d;
}

.favicon-wrapper {
    width: 25%;
}

.favicon a img:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

.form {
    color: rgb(98, 93, 96);
}

.form-wrapper {
    padding-left: 20px;
}

.join-btn {
    text-transform: uppercase;
    color: rgb(98, 93, 96);
    border: 0.5px solid;
    background-color: transparent;
    padding: 4px;
}

.join-btn:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

#email {
    background-color: transparent;
}

input[type=email] {
    border: 1px solid rgb(98, 93, 96);
    padding: 4px;
}

#copyright {
    color: rgb(98, 93, 96);
    font-size: xx-small;
    padding-top: 30px;
    padding-bottom: 5px;
}

@media screen and (max-width: 701px) {
    .footer-wrapper {
        width: calc(100%-20px);
        padding: 0 10px 0 10px;
    }
    .favicon {
        column-gap: 25px;
        width: 15px;
        height: 15px;
        color: #9da49d;
    }
    .favicon-wrapper {
        column-gap: 10px;
        width: 35%;
    }
}